﻿@model SistemaRestaurante.BusinessEntity.Pedido

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<h2>
    Create</h2>

<fieldset>
    <legend>Pedido</legend>
    @using (Html.BeginForm("Create","PedidoAjax", FormMethod.Post, new { id = "frmRegistrar"}))
    {
        @Html.ValidationSummary(true)
  
        <div class="editor-label">
            @Html.LabelFor(model => model.IdCliente)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.IdCliente, new SelectList(Model.Clientes, "IdCliente", "Nombre", Model.IdCliente))
            @Html.ValidationMessageFor(model => model.IdCliente)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.IdLocal)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.IdLocal, new SelectList(Model.Locales, "IdLocal", "Nombre", Model.IdLocal))
            @Html.ValidationMessageFor(model => model.IdLocal)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.FechaString)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.FechaString, new { @class = "calendar" })
            @Html.ValidationMessageFor(model => model.FechaString)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.TipoPedido)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.TipoPedido, new SelectList(Model.TiposPedidos, "Id","Nombre",Model.TipoPedido))
            @Html.ValidationMessageFor(model => model.TipoPedido)
        </div>
       
        
        <p>
            <input type="submit" value="Create" id = "btnRegistrar" />
        </p>
   
    }

@Ajax.ActionLink("Agregar Detalle", "CreateDetalle", "Pedido", new AjaxOptions
{
    HttpMethod = "GET",
    UpdateTargetId = "informacion",
    OnComplete = "OnCompleteCreateDetalle"
})

    <div id="listado">
        @{Html.RenderPartial("ListadoDetalle", Model.DetallePedido);}
    </div>

    <div id="informacion">
    </div>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</fieldset>

<script type="text/javascript">

    $(function () {

        $("input.calendar").datepicker({
            dateFormat : 'dd/mm/yy', 
            changeYear : true,
            changeMonth : true,
        });
        

        $('#btnRegistrar').click(function (e) {

            if ($('#frmRegistrar').validate().form()) {

                var url = $('#frmRegistrar').attr("action");
                var parametros = $('#frmRegistrar').serialize();

                $.post(url, parametros, function(response) {
                                debugger;
                    if(response.Success) {
                        alert(response.Message);
                        window.location = '@Url.Action("Index")';
                    } else {
                        alert(response.Message);
                    }

                });
            }
            
            e.preventDefault();
            
        });
    });

    function OnCompleteCreateDetalle() {
        $('#informacion').show();
    }

</script>
