﻿@model SistemaRestaurante.BusinessEntity.Categoria
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Create</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>

<div id="loadingPost" style="display: none">
    Procesando Solicitud ...</div>
<div id="target">
    

   @using(Ajax.BeginForm("Create","Categoria",new AjaxOptions
                                             {
                                                 HttpMethod = "POST",
                                                 InsertionMode = InsertionMode.InsertBefore,
                                                 UpdateTargetId = "target",
                                                 LoadingElementId = "loadingPost",
                                                 LoadingElementDuration = 3000,
                                                 OnBegin = "metodoOnBegin",
                                                 OnFailure = "metodoOnFailure",
                                                 OnSuccess = "metodoOnSuccess",
                                                 OnComplete = "metodoOnComplete"
                                             }) )
    {
    <fieldset>
        <legend>Categoria</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Imagen)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Imagen)
            @Html.ValidationMessageFor(model => model.Imagen)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
    }
    
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script type="text/javascript">

    function metodoOnBegin() {
        alert('metodoOnBegin');
        
        if($('#Nombre').val()=="Ajax") {
            return false;
        } else {
            return true;
        }
    }

    function metodoOnFailure() {
        alert('metodoOnFailure');
    }

    function metodoOnSuccess() {
        alert('metodoOnSuccess');
    }

    function metodoOnComplete() {
        alert('metodoOnComplete');
        window.location = '@Url.Action("Index","Categoria")';
    }
</script>