﻿@model SistemaRestaurante.BusinessEntity.Cliente

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Cliente</legend>

    @Html.HiddenFor(model=>model.IdCliente)

    <div class="display-label">Documento</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Documento)
    </div>

    <div class="display-label">Nombre</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { idCliente=Model.IdCliente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
