﻿@model SistemaRestaurante.BusinessEntity.Pedido
@{
    ViewBag.Title = "Create";
}
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>

<h2>
    Create</h2>

<fieldset>
    <legend>Pedido</legend>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
  
        <div class="editor-label">
            @Html.LabelFor(model => model.IdCliente)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.IdCliente, new SelectList(Model.Clientes, "IdCliente", "Nombre", Model.IdCliente))
            @Html.ValidationMessageFor(model => model.IdCliente)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.IdLocal)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.IdLocal, new SelectList(Model.Locales, "IdLocal", "Nombre", Model.IdLocal))
            @Html.ValidationMessageFor(model => model.IdLocal)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Fecha)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Fecha, new { @Value = Model.Fecha.ToString("dd/MM/yyyy"), @class = "calendar" })
            @Html.ValidationMessageFor(model => model.Fecha)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.TipoPedido)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.TipoPedido, new SelectList(Model.TiposPedidos, "Id","Nombre",Model.TipoPedido))
            @Html.ValidationMessageFor(model => model.TipoPedido)
        </div>
       
        
        <p>
            <input type="submit" value="Create" />
        </p>
   
    }

@Ajax.ActionLink("Agregar Detalle", "CreateDetalle", "Pedido", new AjaxOptions
{
    HttpMethod = "GET",
    UpdateTargetId = "informacion",
    OnComplete = "OnCompleteCreateDetalle"
})

    <div id="listado">
        @{Html.RenderPartial("ListadoDetalle", Model.DetallePedido);}
    </div>

    <div id="informacion">
    </div>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</fieldset>

<script type="text/javascript">

    $(function () {

        $("input.calendar").datepicker({
            dateFormat : 'dd/mm/yy', 
            changeYear : true,
            changeMonth : true,
        });
    });

    function OnCompleteCreateDetalle() {
        $('#informacion').show();
    }

</script>
